[Unit]
Description=azlo Linux Login Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/azlo-linux-watch
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=azlo-linux-watch

[Install]
WantedBy=multi-user.target
